In [1]:
import pandas as pd


# Replace 'your_file_path.xlsx' with the actual path to your Excel file
df = pd.read_excel('..\Test Case\EasyTestCase.xlsx')

# Set the max_colwidth option to a large value (e.g., None for no truncation)
pd.set_option('display.max_colwidth', None)


# Now you can work with the DataFrame 'df'
display(df)

,SrNo,Difficulty,Question Category,Question,GPT3.5,Bard,BingAI,You.com,Comments
0,1.0,easy,python,"What is the output when you add ""1"" and 2 in python?",0,1,0,0,NaN
1,2.0,easy,python,Write a code in python to cast a string to a float values and also take care of any exceptions?,1,1,1,1,NaN
2,3.0,easy,python,"Write a python code where you input string of sentences and output is a list of unique words from the sentence, be carefull about the case.",1,1,1,1,NaN
3,4.0,easy,python,"Write a python code to check if string start with ""W"" and end with ""?"". Also take care of spaces start and end of the sentence.",1,1,1,1,NaN
4,5.0,easy,python,"Write a python code to check how many times ""Abhijit"" and it's reverse occurs in the input string. Make it case insensitive.",1,1,1,1,NaN
5,6.0,easy,python,Write a python code to add the elements of two list alternatively into a new list. Now find the element in the new list which occurs the most.,0,1,1,0,If the size of the list is unequal the code fails for 0.
6,7.0,easy,python,Write a python code to generate fibonacci series with n number of elements,1,1,1,1,NaN
7,8.0,easy,python,Write a python code to find the prime factors of a number.,1,1,0,1,when I enter 0 it runs infinetly for bings code
8,9.0,easy,python,"Write a python code to format a string in the dd-mm-yyyy date fromat. Don't assume any specific input string, it can be of any input format.",0,0,1,0,When I tried entering the date in the standard(yyyymmdd) format most of the code didn't work.
9,10.0,easy,python,"Write a python code to check if the element of the list is present in the dictionary keys, if yes then append all those values in a single string.",1,1,1,0,you.com assumes that the value of dict is list of string.
10,11.0,easy,SQL,Write a Postgres SQL code to display all unique employee_id who has salary greater that 70k using the employee table.,1,1,1,1,NaN
11,12.0,easy,SQL,"Create a table named customer in Postgres SQL with customer_id starting with 1 and auto increment by 1, cust_name as column with no empty values allowed, address column also no empty values and phone_number with unique and non empty values. Make customer id as primary key. add a check constraint on phone_number, it should start with 91 and should be of 12 digit.",1,0,1,1,"Bard here made contradicting constraints, phone number with 10 length and then in the check constraint of length 12."
12,13.0,easy,SQL,Give me names of the employee whose emp_id's second and third letter is 'PE' and char 'X' in any place of the emp_id from the table employee in Postgres SQL .,1,0,1,1,Bard is not able to formulate the like keywords.
13,14.0,easy,SQL,Display names of first 23 distinct employee_name from the table employee in Postgres SQL.,1,1,1,1,NaN
14,15.0,easy,SQL,"Find the average,minimum, maximum and median salary from the employee table in Postgres SQL.",1,0,1,1,NaN
15,16.0,easy,SQL,What will be the output of '1'+2 in Postgres SQL.,0,1,0,0,NaN
16,17.0,easy,SQL,"Give me all the product_name whose category is cosmetic, drink and clothes (use the in operator) and the product_date should be within 6 months from now.(table name is product and Postgres SQL is DB)",0,0,1,0,The failed ones gave the same answer but were wrong.
17,18.0,easy,SQL,Does unique constraint allows null values in Postgres SQL and if yes then how many ?,1,1,1,0,"you.com is giving wrong info here, actually the opposite answers."
18,19.0,easy,SQL,Get me all the customer_names who has ordered products from us with product_price greater than 1000.(customer and orders table is given and Postgres SQL is the DB). Give me two different methods to implement this.,1,1,1,1,NaN
19,20.0,easy,SQL,Get me all the customer information along with their order details even if the customer hasn't ordered anything. There are two different joins with which we can implement this. Show me both of them.(customer and orders table is given and Postgres SQL is the DB),1,0,1,1,Bard is not able to understand the questions.
20,21.0,NaN,Migration,"Write the below python code in Go lang: \ndef func(number):\n f = []\n for i in range(2, number + 1):\n while number % i == 0:\n f.append(i)\n number = number // i\n return f",1,1,1,1,NaN
21,22.0,NaN,Migration,"Wrtie the below python code in R language: \ndef func(s):\n\n w = s.lower().split("" "")\n b = set()\n for w in w:\n if w not in b:\n b.add(w)\n return list(b)",1,1,0,0,"Bing and You are just trying to translate the code word by word and failed to understand the code, giving code that couldn't compile."
22,23.0,NaN,Migration,"Convert this python code to java:\nimport re\n\ndef c_s(s):\n\n p = re.compile(r""(?i)Abhijit|tijibha"")\n c = 0\n for match in p.finditer(s):\n c += 1\n return c",1,1,1,1,NaN
23,24.0,NaN,Migration,"Convert this python code to java:\nimport dateutil.parser\ndef func(s):\nd = dateutil.parser.parse(s)\nfd = d.strftime(""%d-%m-%Y"")\n return fd",1,0,0,0,NaN
24,25.0,NaN,Migration,Convert this Postgres SQL code to python pandas:\nSELECT customer_name\nFROM customer c\nWHERE EXISTS (\n SELECT 1\n FROM orders o\n INNER JOIN products p ON o.product_id = p.product_id\n WHERE c.customer_id = o.customer_id AND p.product_price > 1000\n);,1,0,1,1,Bard missed one join attribute
25,26.0,NaN,java,"What is the output when you add ""1"" and 2 in java?",1,0,0,1,"Bard and Bing failed, giving compilation error as output"
26,27.0,NaN,java,Write a java code to add the elements of two list alternatively into a new list. Now find the element in the new list which occurs the most.,1,0,1,1,When the list are uneaqual it fails
27,28.0,NaN,java,Write a java code to find the prime factors of a number.,0,1,1,0,GPT3.5 n you Failing when number is 0
28,29.0,NaN,java,"Write a java code to check how many times ""Abhijit"" and it's reverse occurs in the input string. Make it case insensitive.",1,1,1,1,NaN
29,30.0,NaN,java,"Write a java code to format a string in the dd-mm-yyyy date fromat. Don't assume any specific input string, it can be of any input format.",0,0,0,0,NaN
30,NaN,NaN,NaN,NaN,23,19,23,19,NaN

In [2]:
#write a python code to reverse a string without using reverse function
a=input("Enter a string:")
b=a[::-1]
print(b)

In [3]:
string = input("Enter a string: ")
print("Original string:", string)


# Using for loop
reversed_string = ""
for i in string:
    print(i)
    reversed_string = i + reversed_string

print("Reversed string:", reversed_string)

Original string:
Reversed string:

In [4]:
def append_values_from_dict(dictionary, check_list):
    result = ""

    for item in check_list:
        if item in dictionary:
            result += dictionary[item]

    return result

# Example usage
my_dict = {
    1: "A delicious fruit.",
    "banana": "A tropical fruit.",
    "cherry": "A small red fruit."
}

my_list = [1, "cherry", "grape"]

result_string = append_values_from_dict(my_dict, my_list)
print("Appended values:", result_string)

Appended values: A delicious fruit.A small red fruit.

In [5]:
Abhijit is a good boy. Abhijit is a good boy. tijihba

SyntaxError: invalid syntax (2264715118.py, line 1)

In [ ]:
import pandas as pd

# Create sample DataFrames
customer_data = {'customer_id': [1, 2], 'customer_name': ['John', 'Jane']}
orders_data = {'order_id': [1, 2, 3], 'customer_id': [1, 1, 2], 'product_id': [101, 102, 103]}
products_data = {'product_id': [101, 102, 103], 'product_price': [100, 800, 10000]}

customer = pd.DataFrame(customer_data)
orders = pd.DataFrame(orders_data)
products = pd.DataFrame(products_data)

# Equivalent query
result = customer[customer['customer_id'].isin(
    orders[orders['product_id'].isin(
        products[products['product_price'] > 1000]['product_id']
    )]['customer_id']
)]['customer_name']

print(result)

1    Jane
Name: customer_name, dtype: object

In [ ]:
customer_data = {'customer_id': [1, 2], 'customer_name': ['John', 'Jane']}
orders_data = {'order_id': [1, 2, 3], 'customer_id': [1, 1, 2], 'product_id': [101, 102, 103]}
products_data = {'product_id': [101, 102, 103], 'product_price': [100, 800, 10000]}

customer = pd.DataFrame(customer_data)
orders= pd.DataFrame(orders_data)
products = pd.DataFrame(products_data)

# Merge the dataframes
df = pd.merge(customer, orders, on='customer_id')
df = pd.merge(df, products, on='product_id')

# Filter the rows where product_price > 1000
df = df[df['product_price'] > 1000]

# Select the customer_name column
df = df['customer_name']

# Drop duplicates
df = df.drop_duplicates()

# Print the result
print(df)

2    Jane
Name: customer_name, dtype: object

In [5]:
import pandas as pd

# Define the dataframes
book_df = pd.DataFrame({
    'BNR': ['bnr1', 'bnr2', 'bnr3'],
    'Title': ['Book 1', 'Book 2', 'Book 3']
})

borrow_df = pd.DataFrame({
    'BNR': ['bnr1', 'bnr2', 'bnr2', 'bnr3'],
    'PNR': ['pnr1', 'pnr2', 'pnr3', 'pnr4']
})

person_df = pd.DataFrame({
    'PNR': ['pnr1', 'pnr2', 'pnr3', 'pnr4'],
    'Forename': ['John', 'Jane', 'Alice', 'Bob'],
    'Name': ['Doe', 'Smith', 'Johnson', 'Brown']
})

# Perform the equivalent pandas operations
most_borrowed = book_df.merge(borrow_df, on='BNR') \
    .groupby(['BNR', 'Title']) \
    .size() \
    .reset_index(name='BorrowCount') \
    .sort_values('BorrowCount', ascending=False) \
    .head(1)

result = most_borrowed.merge(borrow_df, on='BNR') \
    .merge(person_df, on='PNR') \
    .rename(columns={'Title': 'MostBorrowedBook'})

# Print the resulting dataframe
print(result)

    BNR MostBorrowedBook  BorrowCount   PNR Forename     Name
0  bnr2           Book 2            2  pnr2     Jane    Smith
1  bnr2           Book 2            2  pnr3    Alice  Johnson

In [15]:

def m_s(arr):
    if len(arr) > 1:
        mid = len(arr) // 2 
        left_half = arr[:mid]  
        right_half = arr[mid:]

       
        m_s(left_half)
        m_s(right_half)

        i = j = k = 0  

        while i < len(left_half) and j < len(right_half):
            if left_half[i] < right_half[j]:
                arr[k] = left_half[i]
                i += 1
            else:
                arr[k] = right_half[j]
                j += 1
            k += 1

        while i < len(left_half):
            arr[k] = left_half[i]
            i += 1
            k += 1

        while j < len(right_half):
            arr[k] = right_half[j]
            j += 1
            k += 1

# Example usage:
if __name__ == "__main__":
    arr = [12, 11, 13, 5, 6, 7]
    print("Original array:", arr)

    m_s(arr)

    print("Result array:", arr)

Original array: [12, 11, 13, 5, 6, 7]
Result array: [5, 6, 7, 11, 12, 13]