In [9]:
import pandas as pd


# Replace 'your_file_path.xlsx' with the actual path to your Excel file
df = pd.read_excel('..\Test Case\EasyTestCase.xlsx')

# Set the max_colwidth option to a large value (e.g., None for no truncation)
pd.set_option('display.max_colwidth', None)


# Now you can work with the DataFrame 'df'
display(df)

,SrNo,Difficulty,Question Category,Question,GPT3.5,Bard,BingAI,You.com
0,1,easy,python,"What is the output when you add ""1"" and 2 in python?",1.0,NaN,NaN,NaN
1,2,easy,python,Write a code in python to cast a string to a float values and also take care of any exceptions?,0.0,NaN,NaN,NaN
2,3,easy,python,Write a python code where you input string of sentences and output is a list of words from the sentence.,NaN,NaN,NaN,NaN
3,4,easy,python,"Write a python code to check if string start with ""W"" and end with ""?"". Also take care of spaces start and end of the sentence.",NaN,NaN,NaN,NaN
4,5,easy,python,"Write a python code to check ""Abhijit"" occurs in the input string. Make it case insensitive.",NaN,NaN,NaN,NaN
5,6,easy,python,Write a python code to add the elements of the two lists alternately to create a new list.,NaN,NaN,NaN,NaN
6,7,easy,python,Write a python code to generate fibonacci series with n number of elements,NaN,NaN,NaN,NaN
7,8,easy,python,Write a python code to remove the duplicate elements in a list.,NaN,NaN,NaN,NaN
8,9,easy,python,Write a python code to format a string in the dd-mm-yyyy date fromat.,NaN,NaN,NaN,NaN
9,10,easy,python,"Write a python code to check if the element of the list is present in the dictionary keys, if yes the append all those values in a string.",NaN,NaN,NaN,NaN
10,11,easy,SQL,Write a SQL Server code to display all unique employee_id who has salary greater that 70k using the employee table.,NaN,NaN,NaN,NaN
11,12,easy,SQL,"Create a table named customer in SQL server with customer_id starting with 1 and auto increment by 1, cust_name as column with no empty values allowed, address column also no empty values and phone_number with unique and non empty values. Make customer id as primary key.",NaN,NaN,NaN,NaN
12,13,easy,SQL,Give me names of the employee whose emp_id's second and third letter is 'PE' from the table employee in SQL Server .,NaN,NaN,NaN,NaN
13,14,easy,SQL,Display names of first 23 distinct employee_name from the table employee in SQL Server.,NaN,NaN,NaN,NaN
14,15,easy,SQL,"Find the average,minimum, maximum and median salary from the employee table in SQL Server.",NaN,NaN,NaN,NaN
15,16,easy,SQL,What will be the output of '1'+2 in SQL Server.,NaN,NaN,NaN,NaN
16,17,easy,SQL,"Give me all the product_name whose category is cosmetic, drink and clothes (use the in operator) and the product_date should be within 6 months from now.(table name is product and SQL server is DB)",NaN,NaN,NaN,NaN
17,18,easy,SQL,Does unique constraint allows null values?,NaN,NaN,NaN,NaN
18,19,easy,SQL,Get me all the customer_names who has ordered products from us with product_price greater than 1000.(customer and orders table is given and SQL Server is the DB). Give me two different methods to implement this.,NaN,NaN,NaN,NaN
19,20,easy,SQL,Get me all the customer information along with their order details even if the customer hasn't ordered anything. There are two different joins with which we can implement this. Show me both of them.(customer and orders table is given and SQL Server is the DB),NaN,NaN,NaN,NaN

In [2]:
#write a python code to reverse a string without using reverse function
a=input("Enter a string:")
b=a[::-1]
print(b)

tijihBA

In [2]:
string = input("Enter a string: ")
print("Original string:", string)


# Using for loop
reversed_string = ""
for i in string:
    print(i)
    reversed_string = i + reversed_string

print("Reversed string:", reversed_string)

Original string: ABhi
A
B
h
i
Reversed string: ihBA

In [32]:
def append_values_from_dict(dictionary, check_list):
    result = ""

    for item in check_list:
        if item in dictionary:
            result += dictionary[item]

    return result

# Example usage
my_dict = {
    1: "A delicious fruit.",
    "banana": "A tropical fruit.",
    "cherry": "A small red fruit."
}

my_list = [1, "cherry", "grape"]

result_string = append_values_from_dict(my_dict, my_list)
print("Appended values:", result_string)

Appended values: A delicious fruit.A small red fruit.

In [ ]:
Abhijit is a good boy. Abhijit is a good boy. tijihba